<ul class="nav nav-tabs">
  <li id="buildLi"role="presentation">
 <a id="buildNo" href="#"></a>

  </li>
  <li id="testsByClass" role="presentation" class="menu">
    <a href="testsByClassOverview.aspx">Tests by class overview report</a>
  </li>
    <li id="testsByMetdhod" role="presentation" class="menu">
        <a href="testsByTestMethodOverview.aspx">Tests by method overview report</a>
    </li>
  <li id="summaryFeature" role="presentation" class="menu">
    <a href="#">Test Case report: </a>
  </li>

</ul>
